{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "node": "current" }, "loose": true, "modules": false }
    ],
    "@babel/preset-typescript"
  ],
  "env": {
    "production": {
      "plugins": [["transform-remove-console", { "exclude": ["error"] }]]
    }
  }
}
