{
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "standard-with-typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint"],
  "ignorePatterns": ["coverage", "node_modules", "dist"],
  "globals": {
    "HTMLVideoElement": "readonly",
    "requestAnimationFrame": "readonly",
    "test": "readonly",
    "describe": "readonly",
    "it": "readonly",
    "expect": "readonly",
    "jest": "readonly",
    "JSX": "readonly"
  },
  "rules": {
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/indent": "off",
    "no-void": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
